<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Green */

</style>
</head>
<body>
<form action="{{url_for('main.logout') }}">
<h1>Your preferences has been successfully stored!</h1>
<h2>This will be the home page...</h2>
<br>
<br>
<br>
<br>

<button class="button button1">LOGOUT</button>

</body>
</html>